dist: xenial
sudo: false
services:
- docker
language: python
services:
- docker

install:
- pip install tox

python:
- '2.7'
- '3.4'
- '3.5'
- '3.6'
- '3.7'
- '3.8-dev'

env:
- SALT=v2018.3 BACKEND=cherrypy
- SALT=v2018.3 BACKEND=tornado
- SALT=v2019.2 BACKEND=cherrypy
- SALT=v2019.2 BACKEND=tornado
- SALT=develop BACKEND=cherrypy
- SALT=develop BACKEND=tornado

matrix:
  allow_failures:
  - python: '3.8-dev'
  - env: SALT=develop BACKEND=tornado
  - env: SALT=develop BACKEND=cherrypy

script:
- PYTHON="${TRAVIS_PYTHON_VERSION/-dev/-rc}"
- TOX_VERSION="py${PYTHON//./}"
- docker run -v $PWD:/pepper -ti --rm "python:$PYTHON" make -C /pepper test PYVERSION="${TOX_VERSION}" SALT="${SALT}" BACKEND="${BACKEND}"

after_success:
- sudo chown $USER .tox/
- tox -e codecov
