mock
pytest>=3.5.0,<4.0.0
pytest-rerunfailures
pytest-cov
git+https://github.com/vmware-archive/pytest-salt@master#egg=pytest-salt
tornado<5.0.0
CherryPy
setuptools_scm
pyzmq>=2.2.0,<17.1.0; python_version == '3.4'  # pyzmq 17.1.0 stopped building wheels for python3.4
pyzmq>=2.2.0; python_version != '3.4'
